<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="RolesMustContain" value="IIS,NetFx,Certificate"/>
    <add key="RolesMustNotContain" value="IIS-CGI,IIS-FTPSvc,IIS-DirectoryBrowsing,IIS-FTPServer,IIS-FTPExtensibility,IIS-ASP,Microsoft-Windows-NetFx-VCRedist-Package"/>
    <add key="DismEnableFormat" value="dism -online -enable-feature -FeatureName:{0}"/>
  </appSettings>
</configuration>